# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.gitignore
venv/Include/
com/__init__.pyc
com/dxm/__init__.pyc
com/dxm/flask_web/__init__.pyc
com/dxm/flask_web/i18nLangApp.pyc
*.xml
